div.container.mt-4{
    max-width:60%;
}

p {
    font-size: 30px;
    text-align: center;
    opacity: 0; /* 初めは非表示 */
    transform: translateY(50px); /* 50px下から開始 */
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 1s; /* 1秒遅らせる */
}

/* アニメーションの定義 */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


