{% extends "base.html" %}

{% load static %}

{% block head %}

{% endblock %}

{% block title %}パスワード変更{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/password_change.css' %}">
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">パスワード変更</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">変更する</button>
        
        </form>
    </div>
</div>
{% endblock %}
