
<title>[テスト用]リンク一覧</title>
<h1>テスト用です。 idが入ってないものだけ入っています。</h1>

<a><font size="5">管理者</font></a><br><br>
<a href="{% url 'AD_TOP' %}">管理者TOP:AD_TOP</a><br><br>
<a href="{% url 'AD_Ticketcancell' %}">キャンセルチケット受け取り:AD_Ticketcancell</a><br><br>
<a href="{% url 'AD_Random' %}">キャンセル枚数管理:AD_Random</a><br><br>
<a href="{% url 'ad_connect' %}">問い合わせフォーム(管理者):ad_connect</a><br><br>
<a href="{% url 'ad_repost' %}">再度投稿:ad_repost</a><br><br>
<a href="{% url 'ad_uid' %}">キャンセル枚数管理 抽選:ad_uid</a><br><br>
<br><br>
<a><font size="5">運営者</font></a><br><br>
<a href="{% url 'ope_del' %}">削除:ope_del</a><br><br>
<a href="{% url 'ope_eve' %}">イベント管理:ope_eve</a><br><br>
<a href="{% url 'ope_post' %}">投稿:ope_post</a><br><br>
<a href="{% url 'ope_top' %}">運営者TOP:ope_top</a><br><br>
<br><br>
<a><font size="5">利用者</font></a><br><br>
<a href="{% url 'bookmark' %}">ブックマーク:bookmark</a><br><br>
<a href="{% url 'policy' %}">利用規約:policy</a><br><br>
<a href="{% url 'userpost' %}">ユーザー投稿:userpost</a><br><br>
<a href="{% url 'connect' %}">利用者お問い合わせ:connect</a><br><br>

