{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock %}

{% block title %}チケット詳細{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/TicketDetail.css' %}">
<div class="container-fluid">

    <h1>チケット詳細</h1>
    <p>イベント名: {{ ticket.post.event_name }}</p>
    <p>購入者: {{ ticket.user.username }}</p>
    <p>イベント日: {{ ticket.event_date }}</p>
    <p>会場: {{ ticket.venue }}</p>
    <p>座席: {{ ticket.seat_row }}列 {{ ticket.seat_number }}番</p>
    <p>座席タイプ: {{ ticket.seat_type }}</p>
    <p>価格: {{ ticket.price }}円</p>
    <br>
    <a  href="{% url 'qr' ticket.id  %}" class="btn">QRコードはこちら</a>
    <br><br><br><br><br>
    <a class="ticket_link" href="{% url 'cancel_ticket' ticket.id%}">チケットのキャンセルはこちら</a>
    {% comment %} <div>
        <img src="{{ ticket.qr_code.url }}" alt="QRコード">
    </div> {% endcomment %}
    <a class="ticket_link" href="{% url 'ticket_adv' %}">購入済みチケット一覧に戻る</a>
</div>
    {% endblock %}
